/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-primary {
  color: #fff;
  background-color: dodgerblue;
  border-color: #1861ac;
  font-weight: bold;
  min-width: 150px;
}

.btn-primary:hover {
    border-color: darkblue;
}

.btn-hire-me {
    color: #fff;
    font-weight: bold;
    border-color: #1861ac;
    min-width: 150px;
}

.btn-hire-me:hover {
    color: darkblue;
    border-color: darkblue;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
    padding-top: 80px;
    width: 100%;
    white-space: nowrap;
    background: #00A9FE;
    text-align: center;
}

.footer-admin {
    position: absolute;
    bottom: 0;
    margin-top: 20px;
    width: 100%;
    white-space: nowrap;
    text-align: center;
}

.custom-brand {
    background: #00A9FE;
    color: white !important;
    padding: 25px 25px 20px 25px;
    margin: -25px 0px -20px 0px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    white-space: nowrap !important;
    word-break: keep-all;
}

.navbar {
    background: transparent;
    white-space: nowrap !important;
    word-break: keep-all;
    font-weight: bold;
}

.social-icons {
    font-size: 1.5em;
}

.navbar .fa-facebook {
    color: white;
}

.navbar .fa-facebook:hover {
    color: dodgerblue;
}
.navbar .fa-twitter {
    color: white;
}

.navbar .fa-twitter:hover {
    color: dodgerblue;
}
.navbar .fa-instagram {
    color: white;
}

.navbar .fa-instagram:hover {
    color: dodgerblue;
}
.navbar .fa-linkedin {
    color: white;
}

.navbar .fa-linkedin:hover {
    color: dodgerblue;
}
@media (max-width: 968px) {
    .social-icons > li {
        padding-right: 15px;
    }
    .collapse {
        padding-top: 20px;
    }
}

.social footer {
    padding: 0;
    margin: 0;
}

.social-icons-footer {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
    list-style-type: none;
}

.social-icons-footer > li {
    float: left;
}

.social-icons-footer .fa-facebook {
    color: white;
}

.social-icons-footer .fa-facebook:hover {
    color: white;
}

.social-icons-footer .fa-twitter {
    color: white;
}

.social-icons-footer .fa-twitter:hover {
        color: white;
    }

.social-icons-footer .fa-instagram {
    color: white;
}

.social-icons-footer .fa-instagram:hover {
        color: white;
    }

.social-icons-footer .fa-linkedin {
    color: white;
}

.social-icons-footer .fa-linkedin:hover {
        color: white;
}

.copyright {
    color: white;
    padding: 15px 0 15px 0;
}

.copyright a:link {
    color: white;
    text-decoration: none;
}

.copyright a:hover {
    color: white;
    text-decoration: none;
}

.copyright a:visited {
    color: white;
    text-decoration: none;
}

.welcome {
    background: transparent;
    color: white;
}

.header {
    background: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.menu-items a:hover {
    color: dodgerblue !important;
}

.bold-text {
    font-weight: bold; 
}

.welcome h1 {
    margin-top: -0.4em;
    margin-bottom: -0.2em;
    color: black;
}

.welcome-image {
    max-width: 100%;
}

.my-toggler.navbar-toggler {
    border-color: dodgerblue;
}

.my-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(30, 144, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.skills {
    padding-top: 20px;
    margin-bottom: 20px;
}

.experience {
    padding-top: 20px;
    padding-bottom: 20px;
}

.skill-name {
    margin-bottom: 0rem;
}

.progress {
    height: 10px;
}

.hidden {
    display: none;
}

.grey-background {
    padding-top: 20px;
    background: #e5e5e5;
    padding-bottom: 20px;
}

.work-tab {
    background: white;
    margin: 0 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 4px 4px rgba(0, 0, 0, .05);
}

.date-exp {
    margin: 0 0 0 0;
    font-size: 12px;
    font-weight: bold;
}

.work-tab h5 {
    color: darkblue;
}

.portfolio {
    padding-top: 20px;
    margin-bottom: 20px;
}

.awards {
    padding-top: 20px;
}

.testimonial {
    padding-top: 20px;
    margin-bottom: 20px;
}

.card-body {
    padding: 0 1.25rem 0 1.25rem;
}

.card {
    border-color: transparent;
}

.contact {
    background-color: white;
    margin-bottom: -50px;
    padding: 15px;
    border-radius: 15px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: black;
    float: right;
    margin-right: -8px !important;
    margin-top: -8px !important;
    padding-top: 8px !important;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: darkgray;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 0 2px 0;
    text-align: center !important;
}

.modal-body {
    padding: 5px;
    text-align: left !important;
}

.modal-body img {
    width: 100%;
}

.modal-footer {
    text-align: center;
    padding: 2px 0 2px 0;
}