@page "/Alogin/ForgotPasswordConfirmation"
@model ForgotPasswordConfirmation
@{
    Layout = "";
    ViewData["Title"] = "Forgot password confirmation";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Portfolio Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="vh-100 my-0">
    <div class="container h-100">
        <main role="main" class="h-100">
            <div class="row h-100">
                <div class="col-md-5 border py-2 px-4 my-auto mx-auto">

                    <h3>@ViewData["Title"]</h3>
                    <p>
                        Please check your email to reset your password.
                    </p>

                    <div class="form-group">
                        <p>
                            <a id="login" asp-page="Login">Log in</a>
                        </p>
                        <p>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Back to homepage</a>
                        </p>
                    </div>
                </div>
            </div>

        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

